body{
    margin: 0px;
}

header{
    background-color: rgb(32, 169, 229);
    background-image: url(../img/pattern.png);
    background-size: contain;
    margin: 0px;
}

#logo-booleaner{
    height: 90px;
    width: 180px;
    margin-top: 1%;
}

.spacings{
    margin: 0.5%;
}

h1{
    margin-bottom: 0px;
}

.writer{
    color: gray;
    font-size: large;
}

#source{
    color: cornflowerblue;
}

#data{
    color: grey;
    font-size: small;
}

#John-Knight{
    margin-top: 15px;
    margin-bottom: 0px;
}

#photo-source{
    font-size: smaller;
}

.highlighter{
    background-color: yellow;
}

#list{
    padding-left: 15px;
}

#complete-table{
    border-spacing: 0px;
}

#table-title{
    color: white;
    background-color: rgb(32, 169, 229);
    text-align: left;
}

.table-cells{
    width: 25%;
}

.final-cell-of-the-table{
    width: 50%;
}

.table-body{
    background-color: rgb(117, 229, 242);
}

#related-research{
    color: grey;
    font-size: medium;
}

.related-titles{
    color: white;
}

#first-box{
    background-image: url(../img/monitor.jpg);
    height: 150px;
    width: 200px;
    background-size: cover;
}

#second-box{
    background-image: url(../img/graph.jpg);
    height: 150px;
    width: 200px;
    background-size: cover;
}