*{
    margin: 0px;
}

/* nav */
nav{
    background-color: rgb(32, 169, 229);
    background-image: url(../img/pattern.png);
    background-size: contain;
    margin: 0px;
    margin-bottom: 10px;
}

#logo-booleaner{
    height: 90px;
    width: 180px;
    margin-top: 1%;
}
/* end nav */

/* header */
h1{
    margin-bottom: 0px;
}

.writer{
    color: gray;
    font-size: large;
}

#source{
    color: cornflowerblue;
    text-decoration: none;
}

#data{
    color: grey;
    font-size: small;
}
/* end header */

/* figure */
figure{
    margin: 0.5%;
    margin-bottom: 20px;
}

#John-Knight{
    margin-top: 15px;
    margin-bottom: 0px;
}

figcaption{
    font-size: .7em;
}
/* end figure */

/* section p and list */
p{
    margin-bottom: 20px;
}

#list{
    padding-left: 15px;
    margin-bottom: 20px;
}
/* end section p and list */

/* table */
#complete-table{
    border-spacing: 0px;
    margin-bottom: 20px;
}

#table-title{
    color: white;
    background-color: rgb(32, 169, 229);
    text-align: left;
}

.table-cells{
    width: 25%;
}

.final-cell-of-the-table{
    width: 50%;
}

.table-body{
    background-color: rgb(117, 229, 242);
}
/* end table */

/* footer */
#related-research{
    color: grey;
    font-size: medium;
}

.related-titles{
    color: white;
}

#first-box{
    background-image: url(../img/monitor.jpg);
    height: 150px;
    width: 200px;
    background-size: cover;
    margin-bottom: 10px;
}

#second-box{
    background-image: url(../img/graph.jpg);
    height: 150px;
    width: 200px;
    background-size: cover;
    margin-bottom: 10px;
}
/* end footer */